@import 'material-symbols';

@font-face {
    font-family: 'PT Sans Bold';
    src: url(Fonts/PTSans-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: 'PT Sans', sans-serif;
    /* Tes doang */
    height: 500px;
}